/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fb;
}

/* Search Form Section */
.card-header {
  background-color: #3498db;
  color: white;
}

.card-body {
  padding: 30px;
}

input.form-control {
  font-size: 1.1rem;
  padding: 15px;
}

.btn {
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 25px;
}

#button {
  margin-top: 20px;
}

.card {
  border-radius: 10px;
}

.text-center {
  font-size: 1.1rem;
  color: #2c3e50;
}

/* Weather Details Section */
.card-header.bg-info {
  background-color: #1abc9c;
}

.card-body {
  font-size: 1.2rem;
}

.card-body .row {
  margin-top: 20px;
}

.card-body .col-md-6 {
  margin-bottom: 20px;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1.3rem;
  color: #34495e;
}

@media (max-width: 768px) {
  .col-md-6 {
    margin-bottom: 20px;
  }
}
