<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4" id="search_weather">Search for Weather:</h3>
      <form
            [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
        <div class="form-group">
          <input class="form-control"
                 type="text"
                 id="weatherLocation"
                 aria-describedby="weatherLocation"
                 placeholder="Please Enter a Location"
                 formControlName="location" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md" id="button">
            Search
          </button>
          <p id="info">
            Location Information
          </p>
          <p class="text-center" id="current_time">Current Time: <br /> {{this.weatherData?.current.observation_time}}</p>
          <p class="text-center" id="current_local_time">Current Local Time: <br /> {{this.weatherData?.location.localtime}}</p>
          <p class="text-center" id="description">Current weather conditions: <br /> {{this.weatherData?.current.weather_descriptions}}</p>
          <p class="text-center" id="location">
            Location Searched: <br /> {{this.weatherData?.location.name}}, {{this.weatherData?.location.country}}
          </p>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h3 class="text-center my-4" id="details">Weather Details:</h3>
      <p class="text-center" id="temperature">Temperature in Degrees Celsius: <br /> {{this.weatherData?.current.temperature}}</p>
      <p class="text-center" id="precipitation">Precipation Level: <br /> {{this.weatherData?.current.precip}}%</p>
      <p class="text-center" id="feels_like">Feels like in Degrees Celsius: <br />{{this.weatherData?.current.feelslike}}</p>
    </div>
  </div>
</div>
